@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Poppins:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* font-family: 'Poppins', sans-serif; */
/* font-family: 'Playfair Display', serif; */

/* //navbar css */

.navbar {
  font-family: 'Poppins', sans-serif;
  font-size: 17px;
  line-height: 20px;
  text-transform: uppercase;
  box-shadow: 0 8px 6px -6px grey;
  background-color: #fff; 
  border-bottom: 0.3px solid #3F250B; /* Dark brown border */
  position: fixed; 
  width: 100%;
  top: 0;
  z-index: 10; /* Ensure navbar is above other content */
  transition: transform 0.3s ease-in-out;
}

.navbar-hidden {
  transform: translateY(-100%); /* Move the navbar out of view */
  transition: transform 0.3s ease-in-out;
}

.active {
  border-bottom: 2px solid #800020;
}

.nav-link-active {
  color: darkgrey !important; /* Example color for active state */
}

.navbar {
  font-weight: 400;
  /* font-family: 'Roboto Flex', sans-serif; */
  letter-spacing: 0.5px;
}

/* //footer */
.footer {
  color: white;
  padding: 25px;
  background: linear-gradient(to bottom, #2F181B, #170402); /* From burgundy to brown */
  box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.2);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.footer h4 {
  text-shadow: 1px 1px 2px black;
}

.footer a {
  text-decoration: none;
  color: #f8f8f8; /* Lighter shade for better visibility */
  padding: 10px;
  transition: color 0.3s ease, border-bottom 0.3s ease;
}

.footer a:hover {
  color: #ffefba;
  border-bottom: 1px solid #ffefba;
}


/* ======PageNotFound========= */
.pnf {
  display: flex;
  min-height: 65vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pnf-title {
  font-weight: 700;
  font-size: 100px;
  color: #3F250B; /* Dark brown text */
}

.pnf-btn {
  color: #800020; /* Burgundy text */
  border: 1px solid #800020; /* Burgundy border */
}


.pnf-btn {
  color: black;
  border: 1px solid black;
  text-decoration: none;
  padding: 10px;
  margin: auto; /* Center the button */
}
.pnf-btn:hover {
  background-color: #800020; /* Burgundy background */
  color: white; /* White text */
}

.product-link{
  text-decoration: none !important;
  color: black !important;
}

.body {
  font-family: 'Roboto Flex', sans-serif;
}
.nav-link:hover, .nav-link:focus {
  color: #800020; /* Burgundy text on hover */
  background-color: rgba(128, 0, 32, 0.1); /* Light burgundy background on hover */
  border-radius: 15px;
}
.dropdown-item:hover, .dropdown-item:focus, .dropdown-item:active {
  color: #800020 !important; /* Burgundy text for hover/focus/active dropdown items */
  background-color: rgba(128, 0, 32, 0.1) !important; /* Optional: Light burgundy background for hover/focus/active dropdown items */
}


.navbar a, .navbar a:link, .navbar a:visited {
  color: #3F250B; /* Dark brown text */
}

.nav-link, .nav-link:link, .nav-link:visited {
  font-weight: 100 !important;
}

.product-link, .product-link:link, .product-link:visited {
  text-decoration: none !important;
  color: #3F250B !important; /* Dark brown text */
}

.product-link:hover, .product-link:focus {
  color: #800020 !important; /* Burgundy text on hover */
}


/* Show dropdown on hover */
.navbar .dropdown-hover:hover .dropdown-menu {
  display: block;
}

.navbar .dropdown-menu:hover {
  display: block;
}

.no-dropdown-arrow::after {
  display: none;
}

/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {
  .navbar {
    font-size: 14px; /* Smaller font size for mobile */
  }

  .navbar-brand {
    font-size: 24px; /* Adjust logo size for mobile */
  }

  .navbar-nav .nav-item {
    margin-bottom: 5px; /* Add space between nav items */
  }

  .navbar-toggler {
    /* Adjustments for the navbar toggler if necessary */
  }

  .brand-search-input, .search-input {
    font-size: 14px; /* Adjust search input font size for better visibility */
    padding: 8px 12px; /* Adjust padding for better touch accessibility */
  }

  .nav-link, .nav-link:link, .nav-link:visited {
    font-weight: 400; /* Adjust font weight for better readability */
  }
  
  .dropdown-menu {
    font-size: 14px; /* Adjust dropdown font size for better readability */
  }
}
/* Ensures dropdown menus are easily clickable on mobile */
@media (max-width: 768px) {
  .navbar .dropdown-hover:hover .dropdown-menu,
  .navbar .dropdown-menu:hover {
    display: block; /* Might need adjustments based on your specific implementation */
  }
}

.table-smaller-font tr th,
.table-smaller-font tr td {
  font-size: 0.8rem; /* Smaller font size */
  height: 25px; /* Smaller row height */
}

.table-smaller-font tr th {
  height: 30px; /* Slightly taller header row */
}



