/* ===================================
========= register page  */
.form-container {
    margin-top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
    flex-direction: column;
    background-color: #ffdee9;
    background-image: linear-gradient(0deg, #000 50%, #43081c 100%, #000 100%);
  }
  
  .form-container form {
    box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;
    padding: 20px;
    background-color: #fff;
  }
   
  
  .form-container form .title {
    text-align: center;
    margin-bottom: 15px;
    font-weight: bold;
    font-family: "Poppins", serif;
  }
  
  .form-container form input {
    border: none;
    border-bottom: 1px solid #000;
    border-radius: 10;
  }
  
  .form-container form button {
    border: 1px solid black;
    border-radius: 20;
    background-color: #000;
    color: white;
    width: 250px;
  }
  
  .form-container form button:hover {
    border: 1px solid black;
    background: #000000; /* fallback for old browsers */
    color: white;
    background: -webkit-linear-gradient(
      to right,
      #434343,
      #000000
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #434343,
      #000000
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  
  .forgot-btn {
    background-color: #434343a4 !important;
    border: 0 !important;
  }
  
  .forgot-btn:hover {
    color: white !important;
  }

  /* AuthStyles.css */

.preference-section {
  display: flex;
  flex-direction: column;
}

.preference-group {
  margin-bottom: 20px;
  
}

.preference-label {
  font-weight: bold;
  margin-bottom: 5px;
}

.form-check {
  /* display: flex; */
  flex-wrap: wrap;
  
}

.form-check-input {
  margin-top: 0;
  margin-right: 10px;
  
}

.form-check-label {
  margin-right: 80px; /* Adjust spacing between checkboxes */
  margin-bottom: 10px; /* Spacing between rows of checkboxes */
  
}

.option-border {
  border: 0.2px solid #000; /* Adjust color and thickness as needed */
  padding: 5px;
  border-radius: 5px; /* Optional: for rounded corners */
  margin-bottom: 10px; /* Space between options */
  width: 300px;
}
