/* CategoryProductStyles.css */


.product-image {
    transition: transform 0.5s ease, filter 0.5s ease; /* Add filter to the transition for a smooth effect */
    
  }
  
  .product-image:hover {
    transform: scale(1.03); 
    filter: brightness(85%); /*Decrease brightness to darken the image, adjust percentage as needed*/
    transform-origin: center center; /* Adjust as needed */
    
  }
   
  
  .infoPanel {
    width: 100%; /* Use full width on smaller screens */
    max-width: 400px; /* But limit to 400px max on larger screens */
    height: 100%;
    position: fixed;
    left: -400px; /* Hide by default */
    top: 0;
    background-color: #D5A696;
    transition: left 0.3s ease-in-out;
    overflow-y: auto;
    overflow-x: hidden;
    border-right: 3px solid #553c2c;
    z-index: 1000; /* Ensure it's above other content */
  }
  
  .infoPanel.show {
    left: 0; /* Slide in */
  }
  
  .closeBtn {
    position: absolute;
    top: 0;
    right: 10px;
    border: none;
    background: transparent;
    font-size: 24px;
    cursor: pointer;
  }

  /* Add this CSS to your CategoryProductStyles.css or a global stylesheet */
.ant-checkbox-checked .ant-checkbox-inner {
  background-color: #c20e35 !important;
  border-color: #c20e35 !important;
}

.drop-down {
  width: 10px;
}

@media only screen and (max-width: 768px) {
  .infoPanel {
    left: -100%; /* Hide completely on the left */
  }
  
  .infoPanel.show {
    left: 0; /* Cover the entire screen when shown */
  }

  /* Adjust container, row, and column sizing for mobile */
  .container, .row, .col-md-9 {
    padding: 0;
    margin: 0;
    width: 100%;
  }

  /* Reduce the size of text, buttons, and other elements as needed */
  h4, .btn, .btn-sizes button, .btn-options {
    font-size: smaller; /* Adjust based on your design */
  }

  /* Make images responsive */
  .product-image {
    width: 100%; /* Make images take full width of their container */
    height: auto; /* Adjust height automatically */
  }

  /* Add any additional styles for mobile layout adjustments */
}


