
   
  
  .infoPanel {
    width: 100%; /* Use full width on smaller screens */
    max-width: 400px; /* But limit to 400px max on larger screens */
    height: 100%;
    position: fixed;
    left: -400px; /* Hide by default */
    top: 0;
    background-color: #D5A696;
    transition: left 0.3s ease-in-out;
    overflow-y: auto;
    overflow-x: hidden;
    border-right: 3px solid #553c2c;
    z-index: 1000; /* Ensure it's above other content */
  }
  
  .infoPanel.show {
    left: 0; /* Slide in */
    
    background-color: rgba(213, 166, 150, 0.85); /* Use rgba for transparency */
    backdrop-filter: blur(7px); /* Apply blur effect */
  }
  
  .category-videos-container {
    border-radius: 20px;
    background-color: #E5DCCB; /* Use rgba for transparency */
    backdrop-filter: blur(7px); /* Apply blur effect */
  }

  .closeBtn {
    position: absolute;
    top: 0;
    right: 10px;
    border: none;
    background: transparent;
    font-size: 24px;
    cursor: pointer;
  } 

  /* Add this CSS to your CategoryProductStyles.css or a global stylesheet */
.ant-checkbox-checked .ant-checkbox-inner {
  background-color: #c20e35 !important;
  border-color: #c20e35 !important;
}

.drop-down {
  width: 10px;
}

@media only screen and (max-width: 768px) {
  .infoPanel {
    left: -100%; /* Hide completely on the left */
  }
  
  .infoPanel.show {
    left: 0; /* Cover the entire screen when shown */
  }

  /* Adjust container, row, and column sizing for mobile */
  .container, .row, .col-md-9 {
    padding: 0;
    margin: 0;
    width: 100%;
  }

  /* Reduce the size of text, buttons, and other elements as needed */
  h4, .btn, .btn-sizes button, .btn-options {
    font-size: smaller; /* Adjust based on your design */
  }

  /* Make images responsive */
  .product-image {
    width: 100%; /* Make images take full width of their container */
    height: auto; /* Adjust height automatically */
    border-radius: 0px;
  }

  /* Add any additional styles for mobile layout adjustments */
}


/* .product-image-container {
  position: relative; 
}

.product-brand {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 20px;
  text-align: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.3s linear;
}

.product-image-container:hover .product-brand {
  visibility: visible;
  opacity: 1;
}


 */


 .product-image-container {
  overflow: hidden; /* Prevents the image from overflowing the container */
  display: block; /* Ensures the container takes the full width of its parent if not already defined */
  position: relative; /* Useful for positioning elements inside it if needed */
  border-radius: 0px; /* Applies a border radius to the container if desired */
  cursor: pointer; /* Indicates the image can be interacted with */
}

.product-image {
  width: 100%; /* Full width of its container */
  height: auto; /* Maintain aspect ratio */
  object-fit: cover;
  transition: transform 0.4s ease-in-out, filter 0.5s ease-in-out; /* Smooth transition for transform and filter effects */
  border-radius: 0px;
}

.product-image:hover {
  transform: scale(1.02); /* Enlarges the image on hover */
}


 

