
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Poppins:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');


body {
    background: #fff;;
    font-family: 'Poppins', sans-serif;
  }
  
  /* Style the banner image */
  .banner-img {
    margin-top: 60px;
  }
  
  /* Style the heading */
  .home-page h1 {
    color: #eee;
    font-family: "Playfair Display", serif;
    text-align: center;
    margin-bottom: 30px;
  }
  
  /* Style the container for products */
  .home-page {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  /* Style the product cards */
  .home-page .card {
    background-color: #333;
    color: #eee;
    width: 18rem;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  /* Style the product name and price */
  .home-page .card-name-price {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 0 10px;
  }
  
  .home-page .card-price {
    color: green;
    font-weight: bold;
  }
  
  /* Style the buttons */
  .home-page button {
    border-radius: 0;
    width: 100%;
    font-size: 14px;
    font-weight: bold;
    background-color: #ff6666;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .home-page button:hover {
    background-color: #dd5555;
  }
  
  /* Style the card text */
  .home-page .card-text {
    color: #ccc;
    padding: 0 10px;
  }
  
  .top-section {
    overflow-x: auto;
    padding: 30px;
    width: 100%;
  }
  
  /* Style the card image */
  .home-page .card img {
    height: 200px;
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    filter: brightness(75%); 
  }
  
  /* Make the card image scale on hover */
  .home-page .card img:hover {
    /* transform: scale(1.05); */
    filter: brightness(75%); 
  }
  
  /* Style the filters */
  .filters {
    margin-top: 100px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
  }
  
  .filters h4 {
    color: #eee;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    padding-bottom: 10px;
    margin-bottom: 20px;
  }
  
  .filters .ant-checkbox-wrapper {
    margin: 5px;
  }
  
  .filters .ant-radio-wrapper {
    margin-bottom: 5px;
    margin-left: 10px;
  }
  
  .filters button {
    background-color: #ff6666;
    width: 100%;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .filters button:hover {
    background-color: #dd5555;
  }
  
  /* Style the load more button */
  .loadmore {
    color: #eee;
    font-weight: bold;
    font-size: 20px;
    background-color: #ff9933;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .loadmore:hover {
    background-color: #dd8822;
  }
   

  .card:hover .card-img-top {
    transform: scale(1.01); 
    filter: brightness(95%); 
  }
  
  .card:hover .card-body {
    transform: scale(1.0); 
  }

  .card-img-top {
    margin-top: 0.8rem;
    transition: transform 0.5s ease, filter 0.5s ease; /* Add filter to the transition for a smooth effect */
  }

.card-img-top:hover {
  transform: scale(1.01);  
}
  
.carousal-slide {
  opacity: 1;
}

.blur-effect {
  filter: blur(6px);
}

.swiper-slide {
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.swiper-button-next, .swiper-button-prev {
  color: #000;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
}

.product-image {
  padding: 10px;
  border-radius: 10px;
}

.brands-container {
  padding: 60px; /* Add padding to the container */
  padding-bottom: 20px;
  padding-top: 360px;
  padding-right: 40px;
}

.brand-cards {
  overflow-y: hidden;
  overflow-x: auto; /* Enable horizontal scrolling */
  white-space: nowrap; /* Prevent wrapping of cards */
}

.post-container {
}
.trends-text {
  padding: 25px;
  padding-bottom: 0px;
}

.horizontal-scroll {
  margin-top: -20px;
  display: flex;
  overflow-x: auto;
  gap: 15px; /* Adjust gap between posts */
  padding-top: 0px;
  padding: 25px;
  border-radius: 0px;
  scrollbar-width: thin; /* Optional: makes scrollbar less obtrusive */
}

.post-card {
  min-width: 240px; /* Ensure each post has some minimum width */
  flex-shrink: 0; /* Prevents flex items from shrinking */
  background-color: white; /* Example background color */
  padding-top: 0px;
  border: none;
  cursor: pointer;
  z-index: 3;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.post-card p {
  font-size: 0.8rem;
}

.top {
  /* background-image: linear-gradient(to bottom, transparent, rgba(255,255,255,1)), url('../images/temp2.jpeg'); */
  background-image: 
    linear-gradient(to bottom, transparent,   rgba(255, 255, 255)), 
    linear-gradient(to bottom, #492201, rgba(165, 42, 42, 0), transparent,rgba(165, 42, 42, 0.8)),
    linear-gradient(to right, #492201, rgba(165, 42, 42, 0), transparent 100%), 
    linear-gradient(to right, #000, transparent), 
    linear-gradient(to left, #492201, rgba(165, 42, 42, 0), transparent 100%),

    url('../images/temp2.jpeg');
  
  background-size: cover;
  background-position: center;
  height: 450px; /* Adjust height as needed */
}


.post-text-container-top {
  background-color: #800020;
  color: white;
  text-align: center;
  padding: 6px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  letter-spacing: 1px;
  font-size: 12px;
}

.post-text-container-bottom {
  background-color: #fff;
  color: black;
  text-align: center;
  padding: 6px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  letter-spacing: 1px;
  font-size: 12px;
}

.top-poster-text {
  padding-left: 60px; 
  padding-top: 100px;
}


.brand-content {
  display: flex; /* Use flexbox for layout */
  flex-direction: column; /* Arrange items vertically */
  justify-content: center; /* Align items vertically in the center */
  align-items: flex-start; /* Align items to the left */
  height: 100%; /* Take up full height of the parent */
  padding-left: 20px; 
}

.brand-name {
  font-size: 70px;
  color: #fff;
  margin-bottom: 20px;
  letter-spacing: 4px;
  font-weight: bold;
}

.aesthetic-button {
  width: 200px;
  height: 60px;
  background-color: #4E362B;
  color: #fff;
  border: none;
  border-radius: 30px;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
  opacity: 0.8;
}

.aesthetic-button:hover {
  background-color: #3F250B;
}
