.btn-cart:hover {
    background-color: #FAF6EF;
    color: #fff; /* Optional: Change text color on hover for better visibility */
}

.btn-cart {
    background-color: #fff;
}

.btn-options {
    background-color: #fff;
    margin: 0; /* Removes default margin */
    padding: 0 0 5px 0; /* Example to add padding if needed, adjust as necessary */
    line-height: 1.2; /* Adjust line height for tighter text */
}

.btn-options:hover {
    background-color: #FAF6EF;
    color: #000; /* Optional: Change text color on hover for better visibility */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
}

/* .btn-sizes:hover {
    background-color: #FAF6EF;
} */